.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.sidebar {
  text-align: center;
  position: absolute;
  left: 0;
  width: 20%;
  height: 100%;
  background-color: #384158;
}

.black {
  color: black;
}

.header {
  color: white;
  font-family: system-ui;
}

.out {
  color: #384158;
  background-color: white;
}

.canvasContainer {
  text-align: center;
  position: absolute;
  margin-top: 10px;
  right: 0;
  width: 80%;
}

.canvas {
  background-color: aliceblue;
}

.Collapsible {
  margin: 10px;
  background-color: #282c34;
  border: #61dafb;
  border-radius: 10px;
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
